*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {

  .offer{
    background-color: black;
    .all{
      height: 7vh;
      ul{
        margin-top: 15px;
        li{
          list-style: none;
          margin-left: 20px;
          color: white;
          span{
            font-size: 14px;
            font-weight: bold;
          }
          a{
            text-decoration: none;
            i{
              border-right: 1px solid black;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    #allheader {
      .topheader {
        padding-top: 20px;
        z-index: 2;
        width: 100%;
        padding-bottom: 20px;
        .container {
          padding-left: 15px;
          padding-right: 15px;
          .row {
            .allnav {
              .lg-navbar {
                display: flex;
                align-items: center;
                .navbar-logo {
                  display: flex;
                  justify-content: center;
                }
                .menu {
                  display: flex;
                  ul {
                    display: flex;
                    justify-content: space-around;
                    height: 40px;
                    align-items: end;
                    li {
                      list-style-type: none;
                      a {
                        color: black !important;
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: 500;
                      }
                      a:hover {
                        color: red !important;
                        transition: 0.4s;
                      }
                    }
                  }
                }
                .icons {
                  display: flex;
                  justify-content: center;
                  i {
                    font-size: 17px;
                    margin-right: 20px;
                    color: black ;
                    transition: 0.6s;
                  }
                  i:hover {
                    color: red;
                    transition: 0.6s;
                  }
                }
              }
            }
          }
        }
      }
    }

    .onhoveraccesories {
      position: absolute;
      left: 41%;
      width: 30%;
    }
    .onhoverdrone {
      position: absolute;
      left: 36%;
      width: 40%;
    }
    .onhoverdrone,
    .onhoveraccesories {
      display: flex;
      justify-content: space-around;
      border: 1px solid rgb(172, 172, 172);
      padding: 20px 10px 10px 10px;
      visibility: hidden;
      background-color: rgb(255, 255, 255) ;
      // transition: .3s all;
      &.active {
        visibility: visible;
      }
      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid gray;

        h6 {
          a {
            color: rgb(128, 128, 128);
            text-decoration: none;
            font-size: 17px;
          }
        }
      }
      p {
        margin-bottom: 5px;
        margin-top: 10px;
        a {
          color: rgb(52, 52, 52);
          text-decoration: none;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .allnav {
      .md-navbar {
        height: 6vh;
        align-items: center;
        display: flex;
        i {
          font-size: 18px;
        }
        .left {
          .hamburgermenu {
            .menuItem {
              display: block;
              font-size: 20px;
              color: rgb(59, 59, 59);
              text-decoration: none;
            }
  
            .hamburger {
              z-index: 100;
              border: none;
              background: white;
              cursor: pointer;
            }
  
            .xmark {
              display: none;
              justify-content: flex-end;
              }
  
            .menu {
              transform: translateX(-100%);
              transition: transform 0.7s;
              top: 0;
              left: 0;
              right: 0;
              width: 40%;
              bottom: 0;
              z-index: 99;
              background: white;
              color: white;
              list-style: none;
              position: fixed;
              padding-top: 4rem;
              height: 100vh;
              .accordion-item {
                border: none;
              }
              .accordion-body {
                li {
                  list-style-type: none;
                  a {
                    text-decoration: none;
                    color: black;
                  }
                }
              }
            }
            .showMenu {
              transform: translateY(0);
            }
          }
        }
      }
    }
  
  }
}


main{
height: 400vh;
  #breadcumb{
    background-color: rgb(238,238,238);
    height: 20vh;
  .left{
    height: 20vh;
    background-image: url("https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png");
    background-attachment: fixed;
    background-position: center;
  }
    ul{
      display: flex;
      li{
        list-style: none;
        margin-left: 20px;
        a{
          text-decoration: none;
          color: black;
          transition: .3s;
          i{
            border-right: 1px solid black;
            font-size: 12px;
            padding-right: 10px;
          }
        }
        a:hover{
          color: red;
          transition: .3s;

        }
      }
  }
}


#products{
  a{
    text-decoration: none;
    color: black;
  } 
  .container{
    .left-column{
      .categories,.search{
        border: 1px solid rgb(164, 164, 164);
        box-shadow: 1px 1px 2px;
        width: 70%;
        padding-bottom: 10px;
        h6{
          margin-left: 24px;
          margin-bottom: 15px;
        }
        button{
          margin: 10px 0px;
          margin-left: 15px;
        }
        p{
          padding: 8px;
          padding-left: 20px;
          font-size: 20px;
          background-color: rgba(220, 220, 220, 0.378);
        }
        ul{
          list-style: none;
          padding-left: 0px;
          width: 100%;
          margin-left: 20px;
          li{
            margin-top: 10px;
          }
        }
      }
      .search{
        span{
          margin-left: 10px;
          color: gray;
        }
      }
     
     
     
      .bestsellers,.latestproducts{
        border: 1px solid rgb(164, 164, 164);
        box-shadow: 1px 1px 2px;
        width: 70%;
        padding-bottom: 50px;
        #firstproduct{
          margin-top: 0px;
        }
        .title{
          p{
            padding: 8px;
            padding-left: 20px;
            font-size: 20px;
            background-color: rgba(220, 220, 220, 0.378);
          }
        }
        .product{
          margin-top: 40px;
          
          img{
            float: left;
            margin-left: 20px;
            margin-right: 10px;
          }
          .desc{
            p{
              margin-bottom: 5px;
            }
            span{
              color: red;
              font-weight: bold;
              del{
                color: rgb(170, 170, 170);
                font-weight: 500;
                margin-left: 5px;
              }
            }
          }
        
        }
      }

      
    }
    .right-column{
      .top{
        background-color: rgba(220, 220, 220, 0.418);
        padding: 20px;
        .left{
          i{
            margin-left: 10px;
            font-size: 20px;
            color: rgba(128, 128, 128, 0.41);
          }
          span{
            margin-left: 10px;
            font-size: 17px;
          }
        }

        .right{
          width: 50%;
          justify-content: space-between;
          display: flex;
          :nth-child(2){
            border: none;
          }
          :nth-child(4){
            padding-right: 40px;
            border: none;
          }
          

           
        }
      }
    }
  }
}
#ContactAndSubscribe {
  margin-top: 40px;
  background-color: rgb(242, 246, 249);
  padding-bottom: 30px;
  .contact {
    border: 1px solid rgb(201, 201, 201);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    .text-center {
      text-align: center;
      .subtitle {
        p {
          font-size: 19px;
          letter-spacing: 8px;
          font-weight: bold;
          margin-bottom: 12px;
          font-family: "Poppins", sans-serif;
          color: #eb4d4b;
        }
      }
      .title {
        h1 {
          font-size: 40px;
          margin-bottom: 14px;
        }
      }
      .line {
        width: 80px;
        height: 4px;
        background: #eb4d4b;
        margin: 0 auto;
      }
    }
    .inputs {
      margin-top: 10px;
      input,
      textarea {
        padding: 14px;
        margin-top: 20px;
        border-radius: 20px;
      }
      button {
        border-radius: 40px;
        padding: 10px;
        margin: 15px auto;
      }
    }
  }
  .Subscribe {
    border: 1px solid rgb(201, 201, 201);
    padding: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .text-center {
      text-align: center;
      .subtitle {
        p {
          font-size: 19px;
          letter-spacing: 8px;
          font-weight: bold;
          margin-bottom: 12px;
          font-family: "Poppins", sans-serif;
          color: #eb4d4b;
        }
      }
      .title {
        h1 {
          font-size: 40px;
          margin-bottom: 14px;
        }
      }
      .line {
        width: 80px;
        height: 4px;
        background: #eb4d4b;
        margin: 0 auto;
      }
    }
    .titleandcontent {
      i {
        font-size: 45px;
        color: red;
        margin: 20px auto;
      }
    }
    .input {
      width: 70%;
      margin: 30px auto;
      overflow: hidden;
      &focus {
        outline: blue;
      }
      input {
        position: relative;
        border-radius: 30px;
        padding: 15px;
      }
      button {
        position: absolute;
        border-radius: 40px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        right: 0px;
        z-index: 3;
      }
    }
    .icons {
      margin-top: 30px;
      padding-bottom: 27px;
      i {
        margin-right: 5px;
        font-size: 35px;
        transition: 1.5s;
        &:hover {
          transform: rotateY(360deg);
          transition: 1.5s;
        }
      }
    }
  }


  .md-links{
    .accordion-item{
      background-color: transparent;
      border: none;
        .accordion-button{
          background-color: transparent;
          border: transparent;
          color: black;
          &:focus{
            outline: none;
            border: none;
            box-shadow: none;
            color: black
          }
    }
    .accordion-body{
      padding: 0px;
      ul{
        li{
          list-style: none;
          margin-top: 10px;
          a{
            text-decoration: none;
            color: gray;
          }
        }
      }
    }
    }
  }


  .lg-links{
    margin-top: 30px;
    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto;
      li{
        list-style: none;
        width: 20%;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          text-align: center;
          color: rgb(99, 99, 99);
          transition: 1s;
          &:hover{
            color: red;
            transition: 1s;
          }
        }
      }
    }
  }
  
}
}


footer{
  padding: 20px;
  background-color: black;
  .text{
    display: flex;
    color: white;
    align-items: center;
    h6{
      margin-left: 30px;
    }
  }
  .credit-cards{
    display: flex;
    justify-content: end;
    img{
      margin-right: 10px;
    }
  }
}

