* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header .offer {
  background-color: black;
}
#header .offer .all {
  height: 7vh;
}
#header .offer .all ul {
  margin-top: 15px;
}
#header .offer .all ul li {
  list-style: none;
  margin-left: 20px;
  color: white;
}
#header .offer .all ul li span {
  font-size: 14px;
  font-weight: bold;
}
#header .offer .all ul li a {
  text-decoration: none;
}
#header .offer .all ul li a i {
  border-right: 1px solid black;
  padding-right: 10px;
}
@media screen and (min-width: 992px) {
  #header #allheader .topheader {
    padding-top: 20px;
    z-index: 2;
    width: 100%;
    padding-bottom: 20px;
  }
  #header #allheader .topheader .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar {
    display: flex;
    align-items: center;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .navbar-logo {
    display: flex;
    justify-content: center;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .menu {
    display: flex;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .menu ul {
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: end;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .menu ul li {
    list-style-type: none;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .menu ul li a {
    color: black !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .menu ul li a:hover {
    color: red !important;
    transition: 0.4s;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .icons {
    display: flex;
    justify-content: center;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .icons i {
    font-size: 17px;
    margin-right: 20px;
    color: black;
    transition: 0.6s;
  }
  #header #allheader .topheader .container .row .allnav .lg-navbar .icons i:hover {
    color: red;
    transition: 0.6s;
  }
  #header .onhoveraccesories {
    position: absolute;
    left: 41%;
    width: 30%;
  }
  #header .onhoverdrone {
    position: absolute;
    left: 36%;
    width: 40%;
  }
  #header .onhoverdrone,
  #header .onhoveraccesories {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(172, 172, 172);
    padding: 20px 10px 10px 10px;
    visibility: hidden;
    background-color: rgb(255, 255, 255);
  }
  #header .onhoverdrone.active,
  #header .onhoveraccesories.active {
    visibility: visible;
  }
  #header .onhoverdrone .title,
  #header .onhoveraccesories .title {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
  }
  #header .onhoverdrone .title h6 a,
  #header .onhoveraccesories .title h6 a {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-size: 17px;
  }
  #header .onhoverdrone p,
  #header .onhoveraccesories p {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #header .onhoverdrone p a,
  #header .onhoveraccesories p a {
    color: rgb(52, 52, 52);
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #header .allnav .md-navbar {
    height: 6vh;
    align-items: center;
    display: flex;
  }
  #header .allnav .md-navbar i {
    font-size: 18px;
  }
  #header .allnav .md-navbar .left .hamburgermenu .menuItem {
    display: block;
    font-size: 20px;
    color: rgb(59, 59, 59);
    text-decoration: none;
  }
  #header .allnav .md-navbar .left .hamburgermenu .hamburger {
    z-index: 100;
    border: none;
    background: white;
    cursor: pointer;
  }
  #header .allnav .md-navbar .left .hamburgermenu .xmark {
    display: none;
    justify-content: flex-end;
  }
  #header .allnav .md-navbar .left .hamburgermenu .menu {
    transform: translateX(-100%);
    transition: transform 0.7s;
    top: 0;
    left: 0;
    right: 0;
    width: 40%;
    bottom: 0;
    z-index: 99;
    background: white;
    color: white;
    list-style: none;
    position: fixed;
    padding-top: 4rem;
    height: 100vh;
  }
  #header .allnav .md-navbar .left .hamburgermenu .menu .accordion-item {
    border: none;
  }
  #header .allnav .md-navbar .left .hamburgermenu .menu .accordion-body li {
    list-style-type: none;
  }
  #header .allnav .md-navbar .left .hamburgermenu .menu .accordion-body li a {
    text-decoration: none;
    color: black;
  }
  #header .allnav .md-navbar .left .hamburgermenu .showMenu {
    transform: translateY(0);
  }
}

@media screen and (min-width: 992px) {
  main #breadcumb {
    background-color: rgb(238, 238, 238);
    height: 20vh;
  }
  main #breadcumb .left {
    height: 20vh;
    background-image: url("https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  main #breadcumb ul {
    display: flex;
  }
  main #breadcumb ul li {
    list-style: none;
    margin-left: 20px;
  }
  main #breadcumb ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  main #breadcumb ul li a i {
    border-right: 1px solid black;
    font-size: 12px;
    padding-right: 10px;
  }
  main #breadcumb ul li a:hover {
    color: red;
    transition: 0.3s;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  main #breadcumb {
    background-color: rgb(238, 238, 238);
    height: 10vh;
  }
  main #breadcumb .left {
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  main #breadcumb .left ul {
    display: flex;
    align-items: center;
  }
  main #breadcumb .left ul :nth-child(2) {
    border-right: 1px solid black;
    padding-right: 10px;
  }
  main #breadcumb .left ul li {
    list-style: none;
    margin-left: 20px;
  }
  main #breadcumb .left ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  main #breadcumb .left ul li a i {
    border-right: 1px solid black;
    font-size: 20px;
    padding-right: 10px;
  }
  main #breadcumb .left ul li a:hover {
    color: red;
    transition: 0.3s;
  }
}
main #Cart .message {
  padding: 15px 0px;
  background-color: #f2dede;
}
main #Cart .message i {
  color: rgb(160, 43, 0);
}
main #Cart .message span {
  color: #502147;
}
main #Cart .table-responsive .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #Cart .table-responsive .buttons .first {
  color: white;
  background: black;
  border: 1px solid black;
  width: 40px;
  height: 33px;
  text-align: center;
  transition: 0.6s all;
  cursor: pointer;
}
main #Cart .table-responsive .buttons .first:hover {
  background: #eb4d4b;
}
main #Cart .table-responsive .buttons .second {
  color: white;
  background: #eb4d4b;
  border: 1px solid black;
  width: 40px;
  height: 33px;
  text-align: center;
  transition: 0.6s all;
  cursor: pointer;
}
main #Cart .table-responsive .buttons .second:hover {
  background: red;
}
main #accordions .container .row .deviceInfo .cart_info_faq_title {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border: 1px solid #e0dada;
}
main #accordions .container .row .cart_info_ {
  display: none;
  border: 1px solid #e5e5e5;
  padding: 20px;
}
main #accordions .container .row .cart_info_ .inputs input {
  border: 1px solid rgb(214, 210, 210);
  width: 80%;
  height: 30px;
}
main #accordions .container .row .cart_info_ .inputs input::-moz-placeholder {
  font-size: 14px;
}
main #accordions .container .row .cart_info_ .inputs input::placeholder {
  font-size: 14px;
}
main #accordions .container .row .cart_info_ .inputs button {
  width: 20%;
  font-size: 14px;
  height: 30px;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
main #accordions .container .row .cart_info_ .inputs button:hover {
  background-color: #eb4d50;
}
main #accordions .container .row .cart_info_ .first .selection select,
main #accordions .container .row .cart_info_ .second .selection select {
  border: 1px solid rgb(214, 210, 210);
  width: 100%;
}
main #accordions .container .row .cart_info_ .first .selection select option,
main #accordions .container .row .cart_info_ .second .selection select option {
  font-size: 14px;
  color: rgb(160, 157, 157);
}
main #accordions .container .row .cart_info_ .third .inputs input {
  border: 1px solid rgb(214, 210, 210);
}
main #accordions .container .row .cart_info_ button {
  font-size: 14px;
  height: 40px;
  width: 20%;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
main #accordions .container .row .cart_info_ button:hover {
  background-color: #eb4d50;
}
main #accordions .container .row .cart-bottom {
  width: 100%;
  height: 30%;
  background-color: white;
  display: flex;
}
main #accordions .container .row .cart-bottom ul {
  width: 50%;
  line-height: 32px;
  font-size: 17px;
  padding: 0px;
  margin-top: 8px;
}
main #accordions .container .row .cart-bottom ul li {
  padding: 5;
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgb(221, 220, 220);
}
main #accordions .container .row .buttons {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
main #accordions .container .row .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  height: 40px;
  border: none;
  background-color: #232323;
  color: white;
  transition: 0.5s;
}
main #accordions .container .row .buttons button:hover {
  background-color: #eb4d50;
}
main #accordions .container .row .buttons .firstButton {
  background-color: #eb4d50;
}
main #accordions .container .row .buttons .firstButton:hover {
  background-color: #232323;
}
main #empty.passiv {
  display: none;
}
main #ContactAndSubscribe {
  background-color: rgb(242, 246, 249);
  padding-bottom: 30px;
  margin-top: 50px;
}
main #ContactAndSubscribe .contact {
  border: 1px solid rgb(201, 201, 201);
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #ContactAndSubscribe .contact .text-center {
  text-align: center;
}
main #ContactAndSubscribe .contact .text-center .subtitle p {
  font-size: 19px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
}
main #ContactAndSubscribe .contact .text-center .title h1 {
  font-size: 40px;
  margin-bottom: 14px;
}
main #ContactAndSubscribe .contact .text-center .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin: 0 auto;
}
main #ContactAndSubscribe .contact .inputs {
  margin-top: 10px;
}
main #ContactAndSubscribe .contact .inputs input,
main #ContactAndSubscribe .contact .inputs textarea {
  padding: 14px;
  margin-top: 20px;
  border-radius: 20px;
}
main #ContactAndSubscribe .contact .inputs button {
  border-radius: 40px;
  padding: 10px;
  margin: 15px auto;
}
main #ContactAndSubscribe .Subscribe {
  border: 1px solid rgb(201, 201, 201);
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #ContactAndSubscribe .Subscribe .text-center {
  text-align: center;
}
main #ContactAndSubscribe .Subscribe .text-center .subtitle p {
  font-size: 19px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
}
main #ContactAndSubscribe .Subscribe .text-center .title h1 {
  font-size: 40px;
  margin-bottom: 14px;
}
main #ContactAndSubscribe .Subscribe .text-center .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin: 0 auto;
}
main #ContactAndSubscribe .Subscribe .titleandcontent i {
  font-size: 45px;
  color: red;
  margin: 20px auto;
}
main #ContactAndSubscribe .Subscribe .input {
  width: 70%;
  margin: 30px auto;
  overflow: hidden;
}
main #ContactAndSubscribe .Subscribe .inputfocus {
  outline: blue;
}
main #ContactAndSubscribe .Subscribe .input input {
  position: relative;
  border-radius: 30px;
  padding: 15px;
}
main #ContactAndSubscribe .Subscribe .input button {
  position: absolute;
  border-radius: 40px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  right: 0px;
  z-index: 3;
}
main #ContactAndSubscribe .Subscribe .icons {
  margin-top: 30px;
  padding-bottom: 27px;
}
main #ContactAndSubscribe .Subscribe .icons i {
  margin-right: 5px;
  font-size: 35px;
  transition: 1.5s;
}
main #ContactAndSubscribe .Subscribe .icons i:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
main #ContactAndSubscribe .md-links .accordion-item {
  background-color: transparent;
  border: none;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-button {
  background-color: transparent;
  border: transparent;
  color: black;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: black;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body {
  padding: 0px;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body ul li {
  list-style: none;
  margin-top: 10px;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body ul li a {
  text-decoration: none;
  color: gray;
}
main #ContactAndSubscribe .lg-links {
  margin-top: 30px;
}
main #ContactAndSubscribe .lg-links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
main #ContactAndSubscribe .lg-links ul li {
  list-style: none;
  width: 20%;
  margin-bottom: 10px;
}
main #ContactAndSubscribe .lg-links ul li a {
  text-decoration: none;
  text-align: center;
  color: rgb(99, 99, 99);
  transition: 1s;
}
main #ContactAndSubscribe .lg-links ul li a:hover {
  color: red;
  transition: 1s;
}

footer {
  padding: 20px;
  background-color: black;
}
footer .text {
  display: flex;
  color: white;
  align-items: center;
}
footer .text h6 {
  margin-left: 30px;
}
footer .credit-cards {
  display: flex;
  justify-content: end;
}
footer .credit-cards img {
  margin-right: 10px;
}/*# sourceMappingURL=cart.css.map */