@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 992px) {
  #header .shopping-card-items {
    padding: 0 20px;
    height: 100vh;
    width: 25%;
    transform: translate(400%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 6;
  }
  #header .shopping-card-items .end {
    border-top: 1px solid lightgray;
  }
  #header .shopping-card-items .end button {
    border: none;
    height: 44px;
    width: 47%;
    transition: 0.4s;
  }
  #header .shopping-card-items .end .viewCart {
    margin: 0 6px;
    background-color: #eb4d4b;
    color: white;
  }
  #header .shopping-card-items .end .viewCart:hover {
    background-color: #333;
  }
  #header .shopping-card-items .end .checkOut {
    background-color: #333;
    color: white;
  }
  #header .shopping-card-items .end .checkOut:hover {
    background-color: #eb4d4b;
  }
  #header .shopping-card-items .box::-webkit-scrollbar {
    display: none;
  }
  #header .shopping-card-items .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  #header .shopping-card-items .title span {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  #header .shopping-card-items p {
    padding: 10px;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  #header .topheader {
    padding-top: 20px;
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  #header .topheader .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #header .topheader .container .row .lg-navbar {
    display: flex;
    align-items: center;
  }
  #header .topheader .container .row .lg-navbar .navbar-logo {
    display: flex;
    justify-content: center;
  }
  #header .topheader .container .row .lg-navbar .menu {
    display: flex;
  }
  #header .topheader .container .row .lg-navbar .menu ul {
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: end;
  }
  #header .topheader .container .row .lg-navbar .menu ul li {
    list-style-type: none;
  }
  #header .topheader .container .row .lg-navbar .menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }
  #header .topheader .container .row .lg-navbar .menu ul li a:hover {
    color: black !important;
    transition: 0.4s;
  }
  #header .topheader .container .row .lg-navbar .icons {
    display: flex;
    justify-content: center;
    position: relative;
  }
  #header .topheader .container .row .lg-navbar .icons i {
    font-size: 20px;
    margin-right: 20px;
    color: white;
    transition: 0.6s;
  }
  #header .topheader .container .row .lg-navbar .icons i:hover {
    color: black;
    transition: 0.6s;
  }
  #header .topheader .container .row .search-icon-hover-lg {
    width: 15%;
    position: absolute;
    height: 0vh;
    top: 80%;
    right: 19.7%;
    display: none;
  }
  #header .topheader .container .row .search-icon-hover-lg input {
    padding: 6px 15px;
    width: 100%;
  }
  #header .topheader .container .row .search-icon-hover-lg i {
    position: absolute;
    right: 21px;
    top: 14px;
  }
  #header .topheader .container .row .user-icon-hover-lg {
    width: 24%;
    padding: 10px 0;
    display: none;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    position: absolute;
    top: 98%;
    right: 18%;
  }
  #header .topheader .container .row .user-icon-hover-lg hr {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  #header .topheader .container .row .user-icon-hover-lg ul {
    list-style: none;
  }
  #header .topheader .container .row .user-icon-hover-lg ul li a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 12px;
  }
  #header .topheader .container .row .user-icon-hover-lg ul .language li a {
    color: black !important;
  }
  #header .topheader .container .row .user-icon-hover-lg ul .language .images span {
    margin-right: 10px;
    font-size: 12px;
  }
  #header .topheader .container .row .user-icon-hover-lg ul .currency span {
    font-size: 12px;
    margin-right: 10px;
  }
  #header .onhoveraccesories {
    position: absolute;
    left: 41%;
    width: 30%;
  }
  #header .onhoveraccesories .right {
    margin-left: 50px;
  }
  #header .onhoveraccesories .left {
    margin-left: 20px;
  }
  #header .onhoverdrone {
    position: absolute;
    left: 36%;
    width: 35%;
  }
  #header .onhoverdrone .center {
    margin-left: 50px;
    margin-right: 50px;
  }
  #header .onhoverdrone,
  #header .onhoveraccesories {
    display: none;
    z-index: 43333;
    border: 1px solid rgb(172, 172, 172);
    padding: 20px 10px 10px 10px;
    background-color: white;
  }
  #header .onhoverdrone.active,
  #header .onhoveraccesories.active {
    display: flex;
  }
  #header .onhoverdrone .title,
  #header .onhoveraccesories .title {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
  }
  #header .onhoverdrone .title h6 a,
  #header .onhoveraccesories .title h6 a {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-size: 17px;
  }
  #header .onhoverdrone p,
  #header .onhoveraccesories p {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #header .onhoverdrone p a,
  #header .onhoveraccesories p a {
    color: rgb(52, 52, 52);
    text-decoration: none;
  }
  #header .slider .firstitem .content img {
    width: 100%;
    height: 100vh;
  }
  #header .slider .firstitem .content .about {
    position: absolute;
    top: 18%;
    right: 10%;
  }
  #header .slider .seconditem .content img {
    width: 100%;
    height: 100vh;
  }
  #header .slider .seconditem .content .about {
    position: absolute;
    top: 18%;
    left: 9%;
  }
  #header .slider .firstitem,
  #header .slider .seconditem {
    overflow: hidden;
  }
  #header .slider .firstitem .content,
  #header .slider .seconditem .content {
    position: relative;
  }
  #header .slider .firstitem .content .about,
  #header .slider .seconditem .content .about {
    width: 34%;
    color: white;
    box-sizing: content-box;
  }
  #header .slider .firstitem .content .about :first-child,
  #header .slider .seconditem .content .about :first-child {
    font-size: 34px;
  }
  #header .slider .firstitem .content .about :nth-child(2),
  #header .slider .seconditem .content .about :nth-child(2) {
    font-size: 74px;
    line-height: 80px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: 10px;
    padding-bottom: 25px;
  }
  #header .slider .firstitem .content .about :nth-child(3),
  #header .slider .seconditem .content .about :nth-child(3) {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  #header .slider .firstitem .content .about :nth-child(4),
  #header .slider .seconditem .content .about :nth-child(4) {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 33px;
    border-radius: 30px;
    color: #fff;
    border: none;
    background-color: red;
    transition: 1s;
  }
  #header .slider .firstitem .content .about :nth-child(4):hover,
  #header .slider .seconditem .content .about :nth-child(4):hover {
    background-color: black;
    transition: 0.5s;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #header {
    padding: 0;
  }
  #header .shopping-card-items {
    height: 100vh !important;
    display: none;
    height: 43vh;
    transform: translate(400%);
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 7;
    width: 0px;
    visibility: hidden;
  }
  #header .shopping-card-items .end {
    border-top: 1px solid lightgray;
  }
  #header .shopping-card-items .end button {
    border: none;
    height: 44px;
    width: 47%;
    transition: 0.4s;
  }
  #header .shopping-card-items .end .viewCart {
    margin: 0 6px;
    background-color: #eb4d4b;
    color: white;
  }
  #header .shopping-card-items .end .viewCart:hover {
    background-color: #333;
  }
  #header .shopping-card-items .end .checkOut {
    background-color: #333;
    color: white;
  }
  #header .shopping-card-items .end .checkOut:hover {
    background-color: #eb4d4b;
  }
  #header .shopping-card-items .box::-webkit-scrollbar {
    display: none;
  }
  #header .shopping-card-items .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  #header .shopping-card-items .title span {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  #header .shopping-card-items p {
    padding: 10px;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  #header .md-navbar {
    height: 6vh;
    align-items: center;
    display: flex;
  }
  #header .md-navbar a {
    text-decoration: none;
    color: black;
  }
  #header .md-navbar i {
    font-size: 18px;
  }
  #header .md-navbar .left .hamburgermenu .menuItem {
    display: block;
    font-size: 20px;
    color: rgb(59, 59, 59);
    text-decoration: none;
  }
  #header .md-navbar .left .hamburgermenu .hamburger {
    z-index: 100;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  #header .md-navbar .left .hamburgermenu .xmark {
    display: none;
    justify-content: flex-end;
  }
  #header .md-navbar .left .hamburgermenu .menu {
    transform: translateX(-100%);
    transition: transform 0.7s;
    top: 0;
    left: 0;
    right: 0;
    width: 40%;
    bottom: 0;
    z-index: 99;
    background: white;
    color: white;
    list-style: none;
    position: fixed;
    padding-top: 4rem;
    height: 100vh;
  }
  #header .md-navbar .left .hamburgermenu .menu .accordion-item {
    border: none;
  }
  #header .md-navbar .left .hamburgermenu .menu .accordion-body li {
    list-style-type: none;
  }
  #header .md-navbar .left .hamburgermenu .menu .accordion-body li a {
    text-decoration: none;
    color: black;
  }
  #header .md-navbar .left .hamburgermenu .showMenu {
    transform: translateY(0);
  }
  #header .search-icon-hover-md {
    width: 29%;
    position: absolute;
    top: 80%;
    left: 8%;
    top: 12%;
    z-index: 3;
    display: none;
  }
  #header .search-icon-hover-md input {
    padding: 6px 15px;
    width: 100%;
  }
  #header .search-icon-hover-md i {
    position: absolute;
    right: 21px;
    top: 14px;
  }
  #header .user-icon-hover-md {
    width: 24%;
    padding: 10px 0;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    position: absolute;
    z-index: 35;
    right: 7%;
    display: none;
  }
  #header .user-icon-hover-md hr {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  #header .user-icon-hover-md ul {
    list-style: none;
  }
  #header .user-icon-hover-md ul li a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 12px;
  }
  #header .user-icon-hover-md ul .language li a {
    color: black !important;
  }
  #header .user-icon-hover-md ul .language .images span {
    margin-right: 10px;
    font-size: 12px;
  }
  #header .user-icon-hover-md ul .currency span {
    font-size: 12px;
    margin-right: 10px;
  }
  #header .slider .firstitem .content img {
    width: 100%;
    height: 40vh;
  }
  #header .slider .firstitem .content .about {
    position: absolute;
    top: 8%;
    right: 8%;
  }
  #header .slider .seconditem .content img {
    width: 100%;
    height: 40vh;
  }
  #header .slider .seconditem .content .about {
    position: absolute;
    top: 8%;
    left: 9%;
  }
  #header .slider .firstitem,
  #header .slider .seconditem {
    overflow: hidden;
  }
  #header .slider .firstitem .content,
  #header .slider .seconditem .content {
    position: relative;
  }
  #header .slider .firstitem .content .about,
  #header .slider .seconditem .content .about {
    width: 40%;
    color: white;
    box-sizing: content-box;
  }
  #header .slider .firstitem .content .about :first-child,
  #header .slider .seconditem .content .about :first-child {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  #header .slider .firstitem .content .about :nth-child(2),
  #header .slider .seconditem .content .about :nth-child(2) {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  #header .slider .firstitem .content .about :nth-child(3),
  #header .slider .seconditem .content .about :nth-child(3) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  #header .slider .firstitem .content .about :nth-child(4),
  #header .slider .seconditem .content .about :nth-child(4) {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 33px;
    border-radius: 30px;
    color: #fff;
    border: none;
    background-color: red;
    transition: 1s;
  }
  #header .slider .firstitem .content .about :nth-child(4):hover,
  #header .slider .seconditem .content .about :nth-child(4):hover {
    background-color: black;
    transition: 0.5s;
  }
}

main #services {
  height: 35vh;
  background-color: rgb(251, 251, 251);
  text-align: center;
  align-items: center;
  display: flex;
}
main #services img {
  transition: 0.6s;
}
main #services img:hover {
  transform: rotateY(360deg);
}
main #services h5 {
  margin-top: 16px;
}
main #services p {
  color: gray;
}
@media screen and (min-width: 992px) {
  main #AllAboutFabulous {
    height: 85vh;
    display: flex;
    align-items: center;
  }
  main #AllAboutFabulous .image {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #AllAboutFabulous .content .subtitle p {
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
    color: #ea4441;
  }
  main #AllAboutFabulous .content .title h6 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #232323;
    font-family: "Poppins", sans-serif;
    text-transform: unset;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  main #AllAboutFabulous .content .line {
    width: 80px;
    height: 4px;
    background: #eb4d4b;
  }
  main #AllAboutFabulous .content .description {
    width: 83%;
    margin-bottom: 25px;
    font-weight: 400;
    color: #787878;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-top: 34px;
  }
  main #AllAboutFabulous .content ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    align-items: center;
  }
  main #AllAboutFabulous .content ul li {
    width: 50%;
    display: flex;
    align-items: center;
    color: #666;
    line-height: 32px;
  }
  main #AllAboutFabulous .content ul li::before {
    content: "•";
    color: red;
    font-size: 30px;
    margin-right: 14px;
  }
  main #AllAboutFabulous .content button {
    padding: 10px 29px 10px 29px;
    background-color: #eb4d4b;
    border-radius: 30px;
    border: none;
  }
  main #AllAboutFabulous .content button:hover {
    background-color: black;
    transition: 1s;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  main #AllAboutFabulous {
    height: 85vh;
    display: flex;
    align-items: center;
  }
  main #AllAboutFabulous .image {
    height: 44vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #AllAboutFabulous .content {
    text-align: center;
  }
  main #AllAboutFabulous .content .subtitle p {
    font-size: 16px;
    letter-spacing: 6px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
    color: #ea4441;
  }
  main #AllAboutFabulous .content .title h6 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #232323;
    font-family: "Poppins", sans-serif;
    text-transform: unset;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  main #AllAboutFabulous .content .line {
    width: 80px;
    height: 4px;
    background: #eb4d4b;
    margin: 0 auto;
  }
  main #AllAboutFabulous .content .description {
    width: 83%;
    margin-bottom: 25px;
    font-weight: 400;
    color: #787878;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-top: 34px;
  }
  main #AllAboutFabulous .content ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    align-items: center;
  }
  main #AllAboutFabulous .content ul li {
    width: 25%;
    display: flex;
    align-items: center;
    color: #666;
    line-height: 32px;
  }
  main #AllAboutFabulous .content ul li::before {
    content: "•";
    color: red;
    font-size: 30px;
    margin-right: 14px;
  }
  main #AllAboutFabulous .content button {
    padding: 10px 29px 10px 29px;
    background-color: #eb4d4b;
    border-radius: 30px;
    border: none;
  }
  main #AllAboutFabulous .content button:hover {
    background-color: black;
    transition: 1s;
  }
}
main #LatestProducts {
  padding: 100px 0;
  text-align: center;
}
main #LatestProducts .subtitle p {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #ea4441;
}
main #LatestProducts .title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #232323;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 1px;
}
main #LatestProducts .line {
  margin: 0 auto;
  width: 80px;
  height: 4px;
  background: #eb4d4b;
}
main #LatestProducts .buttons {
  margin-top: 30px;
}
main #LatestProducts .products {
  overflow-y: scroll;
  overflow-x: hidden;
}
main #LatestProducts .products::-webkit-scrollbar {
  display: none;
}
main #LatestProducts .products .secound_story {
  display: none;
}
main #LatestProducts .products .third_story {
  display: none;
}
main #LatestProducts .products .productcarousel {
  flex-wrap: wrap;
}
main #LatestProducts .products .productcarousel .row {
  width: 95%;
}
main #LatestProducts .products .productcarousel .row .card {
  border: none;
  margin-top: 40px;
  padding-left: 5px;
  position: relative;
  padding-right: 5px;
}
main #LatestProducts .products .productcarousel .row .card .star-icon {
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
}
main #LatestProducts .products .productcarousel .row .card .images {
  position: relative;
  overflow: hidden;
}
main #LatestProducts .products .productcarousel .row .card .images :nth-child(1) {
  visibility: visible;
}
main #LatestProducts .products .productcarousel .row .card .images :nth-child(2) {
  display: none;
}
main #LatestProducts .products .productcarousel .row .card .images i {
  font-size: 15px;
  border: 1px solid rgb(142, 142, 142);
  box-shadow: 1px 1px 5px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transition: 0.8s;
}
main #LatestProducts .products .productcarousel .row .card .images .eye {
  top: 10px;
  right: -55px;
}
main #LatestProducts .products .productcarousel .row .card .images .heart {
  top: 55px;
  right: -75px;
}
main #LatestProducts .products .productcarousel .row .card .images .statistic {
  top: 100px;
  right: -95px;
}
main #LatestProducts .products .productcarousel .row .card .card-body {
  position: relative;
  overflow: hidden;
}
main #LatestProducts .products .productcarousel .row .card .card-body .card-title {
  margin-bottom: 10px;
}
main #LatestProducts .products .productcarousel .row .card .card-body .card-text {
  font-size: 17px;
  color: red;
  font-weight: 500;
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  main #LatestProducts .products .productcarousel .row .card .card-body .button {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
  }
}
@media screen and (min-width: 992px) {
  main #LatestProducts .products .productcarousel .row .card .card-body .button {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
  }
}
main #LatestProducts .products .productcarousel .row .card .card-body .list-button {
  position: absolute;
  bottom: 0px;
  left: 15%;
  transform: translate(-50%, 0);
  transition: 0s;
}
main #LatestProducts .products .productcarousel .row .card:hover .button {
  bottom: 0px;
  transition: 0.6s;
}
main #LatestProducts .products .productcarousel .row .card:hover .images :nth-child(1) {
  opacity: 0;
  transition: 1s;
  display: none;
}
main #LatestProducts .products .productcarousel .row .card:hover .images :nth-child(2) {
  display: block;
  opacity: 1;
  transition: 1s;
}
main #LatestProducts .products .productcarousel .row .card:hover i {
  transition: 0.8s;
  right: 8px;
}
main #LatestProducts .products .productcarousel .row .card:hover i:hover {
  background-color: red;
  color: white;
}
main #LatestProducts .products .productcarousel .row .card:hover .eye {
  top: 10px;
  right: 10px;
}
main #LatestProducts .products .productcarousel .row .card:hover .heart {
  top: 55px;
  right: 10px;
}
main #LatestProducts .products .productcarousel .row .card:hover .statistic {
  top: 100px;
  right: 10px;
}
main #LatestProducts .products .productcarousel .row .card:hover .button:hover {
  background-color: black;
  border: none;
}
main #CustomerReview {
  height: 87vh;
  background-image: url("https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/testimonialbackground.png");
  text-align: center;
  display: flex;
  align-items: center;
}
main #CustomerReview .subtitle p {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #ea4441;
}
main #CustomerReview .title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #232323;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 1px;
}
main #CustomerReview .line {
  margin: 0 auto;
  width: 80px;
  height: 4px;
  background: #eb4d4b;
}
main #CustomerReview .user-details {
  background-color: white;
  padding: 65px 50px 40px;
  position: relative;
  margin-top: 80px;
  text-align: start;
}
main #CustomerReview .user-details .image {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #eb4d4b;
  position: absolute;
  top: -60px;
  left: 50px;
}
main #CustomerReview .user-details .description {
  margin-top: 10px;
}
main #CustomerReview .user-details .nameandprofession {
  display: flex;
  align-items: center;
}
main #CustomerReview .user-details .nameandprofession h4 {
  margin-right: 14px;
}
main #CustomerReview .user-details .nameandprofession span {
  color: red;
}
main #Faq {
  height: 100vh;
  background-color: rgb(242, 246, 249);
  display: flex;
  align-items: center;
}
main #Faq .container .row {
  text-align: center;
}
main #Faq .container .row .subtitle p {
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #ea4441;
}
main #Faq .container .row .title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #232323;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 1px;
}
main #Faq .container .row .line {
  margin: 0 auto;
  width: 80px;
  height: 4px;
  background: #eb4d4b;
}
main #Faq .container .row .allaccordion {
  margin-top: 40px;
}
main #Faq .container .row .allaccordion button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
main #Faq .container .row .allaccordion .accordion-body p {
  line-height: 24px;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.5px;
  text-align: left;
  color: gray;
}
main #Faq .container .row .allaccordion span {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  letter-spacing: 0.2px;
  display: inline-block;
  color: #232323;
}
main #Faq .container .row .allaccordion .number {
  margin-right: 10px;
}
main #Sponsors {
  height: 25vh;
  display: flex;
  align-items: center;
}
main #Sponsors .sponsor-images img {
  transition: 1.6s;
}
main #Sponsors .sponsor-images img:hover {
  transform: rotateY(360deg);
}
main #ContactAndSubscribe {
  background-color: rgb(242, 246, 249);
  padding-bottom: 30px;
}
main #ContactAndSubscribe .contact {
  border: 1px solid rgb(201, 201, 201);
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #ContactAndSubscribe .contact .text-center {
  text-align: center;
}
main #ContactAndSubscribe .contact .text-center .subtitle p {
  font-size: 19px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
}
main #ContactAndSubscribe .contact .text-center .title h1 {
  font-size: 40px;
  margin-bottom: 14px;
}
main #ContactAndSubscribe .contact .text-center .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin: 0 auto;
}
main #ContactAndSubscribe .contact .inputs {
  margin-top: 10px;
}
main #ContactAndSubscribe .contact .inputs input,
main #ContactAndSubscribe .contact .inputs textarea {
  padding: 14px;
  margin-top: 20px;
  border-radius: 20px;
}
main #ContactAndSubscribe .contact .inputs button {
  border-radius: 40px;
  padding: 10px;
  margin: 15px auto;
}
main #ContactAndSubscribe .Subscribe {
  border: 1px solid rgb(201, 201, 201);
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #ContactAndSubscribe .Subscribe .text-center {
  text-align: center;
}
main #ContactAndSubscribe .Subscribe .text-center .subtitle p {
  font-size: 19px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  color: #eb4d4b;
}
main #ContactAndSubscribe .Subscribe .text-center .title h1 {
  font-size: 40px;
  margin-bottom: 14px;
}
main #ContactAndSubscribe .Subscribe .text-center .line {
  width: 80px;
  height: 4px;
  background: #eb4d4b;
  margin: 0 auto;
}
main #ContactAndSubscribe .Subscribe .titleandcontent i {
  font-size: 45px;
  color: red;
  margin: 20px auto;
}
main #ContactAndSubscribe .Subscribe .input {
  width: 70%;
  margin: 30px auto;
  overflow: hidden;
}
main #ContactAndSubscribe .Subscribe .inputfocus {
  outline: blue;
}
main #ContactAndSubscribe .Subscribe .input input {
  position: relative;
  border-radius: 30px;
  padding: 15px;
}
main #ContactAndSubscribe .Subscribe .input button {
  position: absolute;
  border-radius: 40px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  right: 0px;
  z-index: 3;
}
main #ContactAndSubscribe .Subscribe .icons {
  margin-top: 30px;
  padding-bottom: 27px;
}
main #ContactAndSubscribe .Subscribe .icons i {
  margin-right: 5px;
  font-size: 35px;
  transition: 1.5s;
}
main #ContactAndSubscribe .Subscribe .icons i:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
main #ContactAndSubscribe .md-links .accordion-item {
  background-color: transparent;
  border: none;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-button {
  background-color: transparent;
  border: transparent;
  color: black;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: black;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body {
  padding: 0px;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body ul li {
  list-style: none;
  margin-top: 10px;
}
main #ContactAndSubscribe .md-links .accordion-item .accordion-body ul li a {
  text-decoration: none;
  color: gray;
}
main #ContactAndSubscribe .lg-links {
  margin-top: 30px;
}
main #ContactAndSubscribe .lg-links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
main #ContactAndSubscribe .lg-links ul li {
  list-style: none;
  width: 20%;
  margin-bottom: 10px;
}
main #ContactAndSubscribe .lg-links ul li a {
  text-decoration: none;
  text-align: center;
  color: rgb(99, 99, 99);
  transition: 1s;
}
main #ContactAndSubscribe .lg-links ul li a:hover {
  color: red;
  transition: 1s;
}

footer {
  padding: 20px;
  background-color: black;
}
footer .text {
  display: flex;
  color: white;
  align-items: center;
}
footer .text h6 {
  margin-left: 30px;
}
footer .credit-cards {
  display: flex;
  justify-content: end;
}
footer .credit-cards img {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */