* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
#header {
  @media screen and (min-width: 992px) {
    .shopping-card-items {
      height: 100vh;
      width: 25%;
      transform: translate(400%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
      background-color: white;
      position: absolute;
      top: 0px;
      z-index: 3;
      p {
        padding: 10px;
        border-bottom: 1px solid rgb(222, 222, 222);
      }
    }
    .topheader {
      padding-top: 20px;
      position: absolute;
      z-index: 2;
      width: 100%;
      .container {
        padding-left: 15px;
        padding-right: 15px;
        .row {
          .lg-navbar {
            display: flex;
            align-items: center;
            .navbar-logo {
              display: flex;
              justify-content: center;
            }

            .menu {
              display: flex;
              ul {
                display: flex;
                justify-content: space-around;
                height: 40px;
                align-items: end;
                li {
                  list-style-type: none;
                  a {
                    color: black;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 500;
                  }
                  a:hover {
                    color: black !important;
                    transition: 0.4s;
                  }
                }
              }
            }
            .icons {
              display: flex;
              justify-content: center;
              position: relative;
              i {
                font-size: 20px;
                margin-right: 20px;
                color: white;
                transition: 0.6s;
              }
              i:hover {
                color: black;
                transition: 0.6s;
              }
            }
          }

          .search-icon-hover-lg {
            width: 15%;
            position: absolute;
            height: 0vh;
            top: 80%;
            right: 19.7%;
            display: none;
            input {
              padding: 6px 15px;
              width: 100%;
            }
            i {
              position: absolute;
              right: 21px;
              top: 14px;
            }
          }

          .user-icon-hover-lg {
            width: 24%;
            padding: 10px 0;
            display: none;
            border: 1px solid rgb(180, 180, 180);
            background-color: white;
            position: absolute;
            top: 98%;
            right: 18%;
            hr {
              margin-top: 12px;
              margin-bottom: 6px;
            }
            ul {
              list-style: none;
              li {
                a {
                  text-decoration: none;
                  color: rgb(110, 110, 110);
                  font-size: 12px;
                }
              }
              .language {
                li {
                  a {
                    color: black !important;
                  }
                }
                .images {
                  span {
                    margin-right: 10px;
                    font-size: 12px;
                  }
                }
              }
              .currency {
                span {
                  font-size: 12px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .onhoveraccesories {
      position: absolute;
      left: 41%;
      width: 30%;
    }
    .onhoverdrone {
      position: absolute;
      left: 36%;
      width: 40%;
    }
    .onhoverdrone,
    .onhoveraccesories {
      display: flex;
      justify-content: space-around;
      border: 1px solid rgb(172, 172, 172);
      padding: 20px 10px 10px 10px;
      visibility: hidden;
      background-color: white;
      // transition: .3s all;
      &.active {
        visibility: visible;
      }
      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid gray;

        h6 {
          a {
            color: rgb(128, 128, 128);
            text-decoration: none;
            font-size: 17px;
          }
        }
      }
      p {
        margin-bottom: 5px;
        margin-top: 10px;
        a {
          color: rgb(52, 52, 52);
          text-decoration: none;
        }
      }
    }

    
    .slider {
      .firstitem {
        .content {
          img {
            width: 100%;
            height: 100vh;
          }
          .about {
            position: absolute;
            top: 18%;
            right: 10%;
          }
        }
      }
      .seconditem {
        .content {
          img {
            width: 100%;
            height: 100vh;
          }
          .about {
            position: absolute;
            top: 18%;
            left: 9%;
          }
        }
      }
      .firstitem,
      .seconditem {
        overflow: hidden;
        .content {
          position: relative;
          .about {
            width: 34%;
            color: white;
            box-sizing: content-box;
            :first-child {
              font-size: 34px;
            }
            :nth-child(2) {
              font-size: 74px;
              line-height: 80px;
              font-weight: 600;
              letter-spacing: 0.7px;
              margin-top: 10px;
              padding-bottom: 25px;
            }
            :nth-child(3) {
              font-size: 17px;
              line-height: 24px;
              margin-bottom: 50px;
              letter-spacing: 0.5px;
              font-weight: 400;
            }
            :nth-child(4) {
              font-size: 15px;
              font-weight: 400;
              padding: 10px 33px;
              border-radius: 30px;
              color: #fff;
              border: none;
              background-color: red;
              transition: 1s;
            }
            :nth-child(4):hover {
              background-color: black;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    overflow-x: hidden;
    .shopping-card-items {
      height: 45.98vh;
      width: 25%;
      transform: translate(400%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
      background-color: white;
      position: absolute;
      top: 0px;
      z-index: 3;
      p {
        padding: 10px;
        border-bottom: 1px solid rgb(222, 222, 222);
      }
    }
    .md-navbar {
      height: 6vh;
      align-items: center;
      display: flex;
      i {
        font-size: 18px;
      }
      .left {
        .hamburgermenu {
          .menuItem {
            display: block;
            font-size: 20px;
            color: rgb(59, 59, 59);
            text-decoration: none;
          }

          .hamburger {
            z-index: 100;
            border: none;
            background: white;
            cursor: pointer;
          }

          .xmark {
            display: none;
            justify-content: flex-end;
          }

          .menu {
            transform: translateX(-100%);
            transition: transform 0.7s;
            top: 0;
            left: 0;
            right: 0;
            width: 40%;
            bottom: 0;
            z-index: 99;
            background: white;
            color: white;
            list-style: none;
            position: fixed;
            padding-top: 4rem;
            height: 100vh;
            .accordion-item {
              border: none;
            }
            .accordion-body {
              li {
                list-style-type: none;
                a {
                  text-decoration: none;
                  color: black;
                }
              }
            }
          }
          .showMenu {
            transform: translateY(0);
          }
        }
      }
    }

    .search-icon-hover-md {
      width: 29%;
      position: absolute;
      top: 80%;
      left: 8%;
      top: 12%;
      z-index: 3;
      display: none;
      input {
        padding: 6px 15px;
        width: 100%;
      }
      i {
        position: absolute;
        right: 21px;
        top: 14px;
      }
    }

    .user-icon-hover-md {
      width: 24%;
      padding: 10px 0;
      border: 1px solid rgb(180, 180, 180);
      background-color: white;
      position: absolute;
      top:12%;
      display: none;
      z-index: 35;
      left: 6%;
      hr {
        margin-top: 12px;
        margin-bottom: 6px;
      }
      ul {
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: rgb(110, 110, 110);
            font-size: 12px;
          }
        }
        .language {
          li {
            a {
              color: black !important;
            }
          }
          .images {
            span {
              margin-right: 10px;
              font-size: 12px;
            }
          }
        }
        .currency {
          span {
            font-size: 12px;
            margin-right: 10px;
          }
        }
      }
    }
    

    .slider {
      .firstitem {
        .content {
          img {
            width: 100%;
            height: 40vh;
          }
          .about {
            position: absolute;
            top: 8%;
            right: 8%;
          }
        }
      }
      .seconditem {
        .content {
          img {
            width: 100%;
            height: 40vh;
          }
          .about {
            position: absolute;
            top: 8%;
            left: 9%;
          }
        }
      }
      .firstitem,
      .seconditem {
        overflow: hidden;
        .content {
          position: relative;
          .about {
            width: 40%;
            color: white;
            box-sizing: content-box;
            :first-child {
              font-size: 20px;
              line-height: 22px;
              margin-bottom: 10px;
            }
            :nth-child(2) {
              font-size: 38px;
              line-height: 44px;
              margin-bottom: 15px;
              font-weight: 600;
              letter-spacing: 0.7px;
              margin-top: 10px;
              padding-bottom: 10px;
            }
            :nth-child(3) {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 30px;
              letter-spacing: 0.5px;
              font-weight: 400;
            }
            :nth-child(4) {
              font-size: 15px;
              font-weight: 400;
              padding: 10px 33px;
              border-radius: 30px;
              color: #fff;
              border: none;
              background-color: red;
              transition: 1s;
            }
            :nth-child(4):hover {
              background-color: black;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}

main {
  #services {
    img {
      transition: 0.6s;
    }
    img:hover {
      transform: rotateY(360deg);
    }
    h5 {
      margin-top: 16px;
    }
    p {
      color: gray;
    }
    height: 35vh;
    background-color: rgb(251, 251, 251);
    text-align: center;
    align-items: center;
    display: flex;
  }

  @media screen and (min-width: 992px) {
    #AllAboutFabulous {
      height: 85vh;
      display: flex;
      align-items: center;
      .image {
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content {
        .subtitle {
          p {
            font-size: 16px;
            letter-spacing: 8px;
            font-weight: 500;
            margin-bottom: 12px;
            font-family: "Poppins", sans-serif;
            color: #ea4441;
          }
        }
        .title {
          h6 {
            font-size: 40px;
            line-height: 40px;
            font-weight: 600;
            color: #232323;
            font-family: "Poppins", sans-serif;
            text-transform: unset;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            padding-bottom: 5px;
          }
        }
        .line {
          width: 80px;
          height: 4px;
          background: #eb4d4b;
        }
        .description {
          width: 83%;
          margin-bottom: 25px;
          font-weight: 400;
          color: #787878;
          letter-spacing: 0.5px;
          line-height: 24px;
          margin-top: 34px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0px;
          list-style: none;
          align-items: center;
          li {
            width: 50%;
            display: flex;
            align-items: center;
            color: #666;
            line-height: 32px;
          }
          li::before {
            content: "•";
            color: red;
            font-size: 30px;
            margin-right: 14px;
          }
        }
        button {
          padding: 10px 29px 10px 29px;
          background-color: #eb4d4b;
          border-radius: 30px;
          border: none;
        }
        button:hover {
          background-color: black;
          transition: 1s;
        }
      }
    }
  }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    #AllAboutFabulous {
      height: 85vh;
      display: flex;
      align-items: center;
      .image {
        height: 44vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content {
        text-align: center;
        .subtitle {
          p {
            font-size: 16px;
            letter-spacing: 6px;
            font-weight: 500;
            margin-bottom: 12px;
            font-family: "Poppins", sans-serif;
            color: #ea4441;
          }
        }
        .title {
          h6 {
            font-size: 30px;
            line-height: 30px;
            font-weight: 600;
            color: #232323;
            font-family: "Poppins", sans-serif;
            text-transform: unset;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            padding-bottom: 5px;
          }
        }
        .line {
          width: 80px;
          height: 4px;
          background: #eb4d4b;
          margin: 0 auto;
        }
        .description {
          width: 83%;
          margin-bottom: 25px;
          font-weight: 400;
          color: #787878;
          letter-spacing: 0.5px;
          line-height: 24px;
          margin-top: 34px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0px;
          list-style: none;
          align-items: center;
          li {
            width: 25%;
            display: flex;
            align-items: center;
            color: #666;
            line-height: 32px;
          }
          li::before {
            content: "•";
            color: red;
            font-size: 30px;
            margin-right: 14px;
          }
        }
        button {
          padding: 10px 29px 10px 29px;
          background-color: #eb4d4b;
          border-radius: 30px;
          border: none;
        }
        button:hover {
          background-color: black;
          transition: 1s;
        }
      }
    }
  }
  #CustomerReview {
    height: 87vh;
    background-image: url("https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/testimonialbackground.png");
    text-align: center;
    display: flex;
    align-items: center;
    .owl-dot {
      color: red;
    }
    .subtitle {
      p {
        font-size: 16px;
        letter-spacing: 8px;
        font-weight: bold;
        margin-bottom: 12px;
        font-family: "Poppins", sans-serif;
        color: #ea4441;
      }
    }
    .title {
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      color: #232323;
      font-family: "Poppins", sans-serif;
      display: inline-block;
      margin-bottom: 25px;
      padding-bottom: 1px;
    }
    .line {
      margin: 0 auto;
      width: 80px;
      height: 4px;
      background: #eb4d4b;
    }
    .user-details {
      background-color: white;
      padding: 65px 50px 40px;
      position: relative;
      margin-top: 80px;
      text-align: start;
      .image {
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #eb4d4b;
        position: absolute;
        top: -60px;
        left: 50px;
      }
      .description {
        margin-top: 10px;
      }
      .nameandprofession {
        display: flex;
        align-items: center;
        h4 {
          margin-right: 14px;
        }
        span {
          color: red;
        }
      }
    }
  }

  #Faq {
    height: 100vh;
    background-color: rgb(242, 246, 249);
    display: flex;
    align-items: center;
    .container {
      .row {
        text-align: center;
        .subtitle {
          p {
            font-size: 16px;
            letter-spacing: 8px;
            font-weight: bold;
            margin-bottom: 12px;
            font-family: "Poppins", sans-serif;
            color: #ea4441;
          }
        }
        .title {
          font-size: 40px;
          line-height: 40px;
          font-weight: 600;
          color: #232323;
          font-family: "Poppins", sans-serif;
          display: inline-block;
          margin-bottom: 25px;
          padding-bottom: 1px;
        }
        .line {
          margin: 0 auto;
          width: 80px;
          height: 4px;
          background: #eb4d4b;
        }
        .allaccordion {
          margin-top: 40px;
          button:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
          }
          .accordion-body {
            p {
              line-height: 24px;
              font-weight: 400;
              display: inline-block;
              letter-spacing: 0.5px;
              text-align: left;
              color: gray;
            }
          }
          span {
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
            letter-spacing: 0.2px;
            display: inline-block;
            color: #232323;
          }
          .number {
            margin-right: 10px;
          }
        }
      }
    }
  }

  #Sponsors {
    height: 25vh;
    display: flex;
    align-items: center;
    .sponsor-images {
      img {
        transition: 1.6s;
      }
      img:hover {
        transform: rotateY(360deg);
      }
    }
  }

  #ContactAndSubscribe {
    background-color: rgb(242, 246, 249);
    padding-bottom: 30px;
    .contact {
      border: 1px solid rgb(201, 201, 201);
      padding: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
      .text-center {
        text-align: center;
        .subtitle {
          p {
            font-size: 19px;
            letter-spacing: 8px;
            font-weight: bold;
            margin-bottom: 12px;
            font-family: "Poppins", sans-serif;
            color: #eb4d4b;
          }
        }
        .title {
          h1 {
            font-size: 40px;
            margin-bottom: 14px;
          }
        }
        .line {
          width: 80px;
          height: 4px;
          background: #eb4d4b;
          margin: 0 auto;
        }
      }
      .inputs {
        margin-top: 10px;
        input,
        textarea {
          padding: 14px;
          margin-top: 20px;
          border-radius: 20px;
        }
        button {
          border-radius: 40px;
          padding: 10px;
          margin: 15px auto;
        }
      }
    }
    .Subscribe {
      border: 1px solid rgb(201, 201, 201);
      padding: 25px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      .text-center {
        text-align: center;
        .subtitle {
          p {
            font-size: 19px;
            letter-spacing: 8px;
            font-weight: bold;
            margin-bottom: 12px;
            font-family: "Poppins", sans-serif;
            color: #eb4d4b;
          }
        }
        .title {
          h1 {
            font-size: 40px;
            margin-bottom: 14px;
          }
        }
        .line {
          width: 80px;
          height: 4px;
          background: #eb4d4b;
          margin: 0 auto;
        }
      }
      .titleandcontent {
        i {
          font-size: 45px;
          color: red;
          margin: 20px auto;
        }
      }
      .input {
        width: 70%;
        margin: 30px auto;
        overflow: hidden;
        &focus {
          outline: blue;
        }
        input {
          position: relative;
          border-radius: 30px;
          padding: 15px;
        }
        button {
          position: absolute;
          border-radius: 40px;
          padding: 15px;
          padding-left: 30px;
          padding-right: 30px;
          right: 0px;
          z-index: 3;
        }
      }
      .icons {
        margin-top: 30px;
        padding-bottom: 27px;
        i {
          margin-right: 5px;
          font-size: 35px;
          transition: 1.5s;
          &:hover {
            transform: rotateY(360deg);
            transition: 1.5s;
          }
        }
      }
    }

    .md-links {
      .accordion-item {
        background-color: transparent;
        border: none;
        .accordion-button {
          background-color: transparent;
          border: transparent;
          color: black;
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            color: black;
          }
        }
        .accordion-body {
          padding: 0px;
          ul {
            li {
              list-style: none;
              margin-top: 10px;
              a {
                text-decoration: none;
                color: gray;
              }
            }
          }
        }
      }
    }

    .lg-links {
      margin-top: 30px;
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
        li {
          list-style: none;
          width: 20%;
          margin-bottom: 10px;
          a {
            text-decoration: none;
            text-align: center;
            color: rgb(99, 99, 99);
            transition: 1s;
            &:hover {
              color: red;
              transition: 1s;
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 20px;
  background-color: black;
  .text {
    display: flex;
    color: white;
    align-items: center;
    h6 {
      margin-left: 30px;
    }
  }
  .credit-cards {
    display: flex;
    justify-content: end;
    img {
      margin-right: 10px;
    }
  }
}
